<div class="container textCenter">
  <div class="row marginBottom15px">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="input-group">
        <span class="input-group-addon paddingL40">账号 * </span>
        <input type="text" class="form-control" placeholder="账 号" aria-describedby="basic-addon1" [(ngModel)]="user.account">
      </div>
    </div>
  </div>
  <div class="row marginBottom15px">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="input-group">
        <span class="input-group-addon paddingL40">密码 * </span>
        <input type="password" class="form-control" placeholder="密码" aria-describedby="basic-addon1" [(ngModel)]="user.password" (blur)="validationPassword()">
      </div>
    </div>
  </div>
  <div class="row marginBottom15px">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="input-group">
        <span class="input-group-addon">确认密码 * </span>
        <input type="password" class="form-control" placeholder="确认密码" aria-describedby="basic-addon1" [(ngModel)]="user.replayPassword" (blur)="validationPassword()">
      </div>
    </div>
  </div>
  <div class="row marginBottom15px">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="input-group">
        <span class="input-group-addon paddingL40">昵称 * </span>
        <input type="text" class="form-control" placeholder="昵 称" aria-describedby="basic-addon1" [(ngModel)]="user.petName">
      </div>
    </div>
  </div>
  <div class="row marginBottom15px">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="input-group">
        <span class="input-group-addon paddingL40">邮箱 * </span>
        <input type="email" class="form-control" placeholder="邮 箱" aria-describedby="basic-addon1"[(ngModel)]="user.email">
      </div>
    </div>
  </div>
  <div class="row marginBottom15px">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="input-group">
        <span class="input-group-addon paddingL30">验证码 * </span>
        <input type="email" class="form-control" placeholder="验证码" aria-describedby="basic-addon1"[(ngModel)]="user.captcha">
        <span class="input-group-addon"><img [src]="captcha" class="captcha" (click)="refreshCaptcha()"/></span>
      </div>
    </div>
  </div>
  <div class="row marginBottom15px">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
     <button class="btn btn-default form-control" (click)="submitUser()" [disabled]="user.submitFlag" >提 交</button>
    </div>
  </div>
</div>
