.head {
  background: #222;
  background-repeat: no-repeat;
  background-position: center 0;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 138px 0 0;
  text-align: center;
  min-height: 400px;
  position: relative;
  background-image: url(../images/backImg.jpg);
}

.logotxt {
  font-weight: 700;
  color: #fff;
  font-size: 64px;
}

.head h2 {
  color: #fff;
  padding: 0;
  margin: 0 0 45px;
  font-weight: 100;
  font-size: 34px;
}

.logoimg {
  position: absolute;
  left: 1%;
  right: 1%;
  bottom: -34px;
}

.main {
  margin-top: 90px;
}

.main-footer {
  background: #202020;
  padding: 35px 0 0;
  color: #959595;
}

.copyright {
  background: #111;
  font-size: 13px;
  text-align: center;
  color: #555;
  padding-top: 14px;
  padding-bottom: 20px;
  border-top: 1px solid #303030;
}

a:link, :visited {
  color: #9d9d9d  !important;
}

a:hover, :active {
  color: #ffffff !important;
}


