<div class="head">
  <nav class="navbar navbar-default navbar-fixed-top"
       style=" filter:alpha(opacity=80); -moz-opacity:0.8; -khtml-opacity: 0.8; opacity: 0.5; background-color: #202020">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Fly Photos</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="" routerLink="/register">注 册</a></li>
          <li><a href="#">登 陆</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="logoimg">
    <img src="../images/logoimg.png" width="78">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-12 logotxt">
        <h1>Fly Photos</h1>
      </div>
      <h2>飞翔的图片</h2>
    </div>
  </div>
</div>
<div class="main">
  <router-outlet></router-outlet>
</div>

<div class="copyright">
  Copyright © FlyPhoto
</div>
