<div class="head">
  <div class="logoimg">
    <img src="../images/logoimg.png" width="78">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-12 logotxt">
        <h1>Fly Photos</h1>
      </div>
      <h2>飞翔的图片</h2>
    </div>
  </div>
</div>
<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <a href="#" class="thumbnail">
          <img src="../favicon.ico">
        </a>
      </div>
    </div>
  </div>
</div>

<div class="copyright">
  Copyright © FlyPhoto
</div>
