.paddingL10 {
  padding-left: 10px !important;
}

.paddingL20 {
  padding-left: 20px !important;
}

.paddingL25 {
  padding-left: 25px !important;
}

.paddingL30 {
  padding-left: 30px !important;
}

.paddingL40 {
  padding-left: 40px !important;
}
